/*
Made to add styles to my website
Can't edit CSS when yuou have a domain
Have to make a new file
Old code in next comment
*/
/*
body {
    background-color: rgb(245, 245, 245);
}

.header {
    text-align: center;
    color: rgb(34, 30, 30);
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.about-me {
    text-align: center;
    color: rgb(2, 2, 2);
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.about-webpage {
    text-align: center;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.copyright {
    color: rgb(2, 2, 2);
    opacity: 0.85;
    text-align: center;
}

@media only screen and (max-width: 1366px) {
    .copyright {
        font-size: 13px;
    }
    .about-webpage {
        font-size: 15px;
    }
    .about-me {
        font-size: 25px;
    }
    .header {
        font-size: 13px;
    }
}
*/

body {
    background-color: rgb(245, 245, 245);
}

.header {
    text-align: center;
    color: rgb(34, 30, 30);
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.about-me {
    text-align: center;
    color: rgb(2, 2, 2);
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.about-webpage {
    text-align: center;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.copyright {
    color: rgb(2, 2, 2);
    opacity: 0.85;
    text-align: center;
    display: block;
}

.contact {
    color: rgb(2, 2, 2);
    opacity: 0.75;
    text-align: center;
    border: 1px solid rgba(54, 49, 49, 0.7);
}

@media only screen and (max-width: 1366px) {
    .copyright {
        font-size: 13px;
        margin-top: 27px;
    }
    .about-webpage {
        font-size: 15px;
    }
    .about-me {
        font-size: 25px;
    }
    .header {
        font-size: 50px;
    }
    .contact {
        font-size: 20px;
    }
}