body {
    background-color: rgb(245, 245, 245);
}

.header {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica;
}

.about-me {
    text-align: center;
    color: rgb(2, 2, 2);
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.about-webpage {
    text-align: center;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-family: Helvetica;
    opacity: 0.7;
}

.copyright {
    color: rgb(2, 2, 2);
    opacity: 0.85;
    text-align: center;
}

@media only screen and (max-width: 1366px) {
    .copyright {
        font-size: 13px;
    }
    .about-webpage {
        font-size: 15px;
    }
    .about-me {
        font-size: 25px;
    }
    .header {
        font-size: 50px;
    }
}